{% extends 'index.html'%}
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">
        {% if product %}
            Edit Product
        {% else %}
            New Product
        {% endif %}
    </h1>
    
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">
                {% if product %}
                    Edit Product
                {% else %}
                    New Product
                {% endif %}
            </h3>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}  
                <button type="submit" class="btn btn-success">
                {% if product %}
                    EDIT 
                {% else %}
                    ADD
                {% endif %}
                </button>
                <a href="{% url 'Inventory:product_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}